@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

:root {
    --background-color: #333;
    --title-color: #AAA;
    --card-background-color: #333;
    --text-color: #AAA;
    --card-title-background-color: #666;
    --card-description-color: #AAA;
    --card-scale-transition-duration: .2s;
    --card-move-transition-duration: .3s;
    --progress-bar-transition-duration: .2s;
    --border-color: antiquewhite;
    --border-radius-default: 2rem;
    --report-display-transition-duration: 0s; /* Changed on first click in JS*/
    --report-background-color: #ffc89b;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    height: 100vh;
}

header {
    height: 10vh;
    padding: 0 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header img {
    height: 95%;
}

.nav-icon {
    height: 80%;
    width: 100px;
}

h1 {
    color: var(--title-color);
}

#game {
    height: 90vh;
}

.gameContainer {
    height: 100%;
    display: grid;
    grid-template-areas:
        "hunter card card naturalist"
        "farmer card card researcher";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    grid-row-gap: 10px;
    padding-top: 1%;
}

#cardContainer {
    position: relative;
    top: 0;
    display: flex;
    height: 75%;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    grid-area: card;
    transition: transform var(--card-move-transition-duration), top var(--card-move-transition-duration);
}

#cardContainer.clickedLeft {
    transform: translate(-50%, 0%) rotateZ(-90deg) rotateX(180deg) rotateY(180deg);
    top: 100vh;
}

#cardContainer.clickedRight {
    transform: translate(50%, 0%) rotateZ(90deg) rotateX(180deg) rotateY(-180deg);
    top: 100vh;
}

#cardContainer.clickedCenter {
    transform: rotateX(180deg);
    top: 100vh;

}

#cardContainer.startTransition {
    top: -100vh;
}

.card {
    transition: scale var(--card-scale-transition-duration);
    background-color: var(--card-background-color);
    border-radius: var(--border-radius-default);
    overflow: hidden;
    display: grid;
    grid-template-areas:
        "image image"
        "image image"
        "desc desc"
        "choiceLeft choiceRight";
    grid-template-columns: repeat(2, 1fr);
    width: 75%;
    height: 100%;
    user-select: none;
    box-shadow: 0 0 50px #FFFA;
}

.card.event {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "image"
        "image"
        "desc"
        "next";
}

body {
    background-image: url("../assets/background_meadow_adobe_express.svg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position-x: 40%;
    background-position-y: 20%;
}

body.inGame {
    background-image: url("../assets/image_background_2.png");
}


.card:hover {
    scale: 105%;
}

.card p {
    width: 100%;
    padding: 5%;
    color: var(--card-description-color);
    grid-area: desc;
}

.choice {
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    border-top: solid var(--border-color) 1px;
    cursor: pointer;
    padding: 10px;
}

#choiceLeft {
    border-right: solid var(--border-color) 1px;
    grid-area: choiceLeft;
}

#choiceRight {
    border-top: solid var(--border-color) 1px;
    border-left: solid var(--border-color) 1px;
    grid-area: choiceRight;
}

.cardImage {
    height: 100%;
    width: 100%;
    grid-area: image;
}

.card.hunter .cardImage {
    background-image: url("../assets/hunter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#options {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#currentDate {
    color: var(--text-color);
    position: relative;
    right: 10px;
    display: inline-block;
}

#options button {
    height: 50px;
    width: 200px;
    cursor: pointer;
    outline: none;
    background-color: var(--card-background-color);
    color: var(--text-color);
    border-radius: 5%;
    border: solid var(--border-color) 1px;
}

#options #currentDate {
    text-align: center;
}

#gameContext {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #666666;
    font-size: larger;
    padding: 5%;
}


.actor.hunter {
    grid-area: hunter;
}

.actor.naturalist {
    grid-area: naturalist;
}

.actor.farmer {
    grid-area: farmer;
}

.actor.researcher {
    grid-area: researcher;
}


.progressbar {
    position: relative;
    border: solid var(--border-color) 1px;
    width: 10%;
    height: 80%;
    border-radius: var(--border-radius-default);
    background: transparent;
}

.progressbar .progress {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F00;
    box-shadow: 0 0 15px #F00;
    z-index: -1;
    transition: height var(--progress-bar-transition-duration);
    border-bottom-left-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);
}

.actor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.actor img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#currentDate {
    color: var(--text-color);
}

#lastReportContent {
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    height: 50vh;
    width: 30%;
    position: absolute;
    top: -100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform var(--report-display-transition-duration), left var(--report-display-transition-duration), top var(--report-display-transition-duration);
    cursor: pointer;
    border-radius: var(--border-radius-default);
    padding: 1%;
    background-color: var(--report-background-color);
}

#lastReportContent * {
    font-family: inherit;
}

#lastReportContent.active {
    top: 50%;
    left: 50%;
}

#lastReportContent .reportDate {
    font-size: 2.5rem;
    font-weight: bold;
}


/* start */


.start-btn {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 200px;
    height: 75px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    color: var(--title-color);
    cursor: pointer;
    outline: none;
    background-color: var(--card-background-color);
    border-radius: 5%;
    border: solid var(--border-color) 1px;

}

#menu {
    height: 200px;
}